
@import './variable.scss';

.layout--main{
    min-height: 100vh;
    min-width: 370px;
}
.layout--main-body{
    flex: auto;
    background-color: $bodyBackgroundColor;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: all .1s linear;
    padding: 0px 50px;
}

// Layout virticle menu
.layout--main-menubar{
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    position: fixed;
    display: flex;
    z-index: 2;
    height: 100vh;
    background-color: $fullscreenShadow;
}
.layout--main-menu-icon-container{
    background-color: $menubarIconBackgroundColor;
    box-shadow:0px 0px 3px 0px rgba(124, 98, 98, 0.3);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.layout--main-detail-container{
    background-color: $menubarDetailBackgroundColor;
    padding: 30px;
}


// Layout Header
.layout--main-header{
    background-color: $headerBackgroundColor;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow:0px 0px 2px 0px rgba(126, 126, 126, 0.1);
    display: flex;
    transition: all .1s linear;
    padding: 15px 50px;
    z-index: 1;
    min-width: 380px;
}

// Layout Footer
.layout--main-footer{
    height: 40px;
    background-color: rgba(224, 224, 224, 0.8)
}

@media (max-width:500px) {
    .layout--main-body{
        padding: 0px 20px;
    }
    .layout--main-header{
        padding: 15px 20px;
    }
}